.idea/workspace.xml
.idea/workspace.xml
game-server/app/domain
game-server/app/dao
game-server/node_modules
game-server/logs
game-server/config/mysql.json
authServer/node_modules
authServer/config/mysql.json
web-server/node_modules
serverManager/node_modules